<div class="row" *ngFor="let session of sessions">
    <collapsible-well>
        <div well-title>
            {{ session.name }}
            <i *ngIf="session.voters.length > 3" class="glyphicon glyphicon-fire" style="color: red"></i>
        </div>

        <div well-body>

            <div class="well">
                <h6>{{ session.presenter }}</h6>
                <span>Duration: {{session.duration}}</span><br />
                <span>Level: {{session.level}}</span>
                <p>{{ session.abstract }}</p>
            </div>

        </div>
    </collapsible-well>
</div>